* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}

main {
	background: rgb(136, 148, 174);
	background: radial-gradient(
		circle,
		rgba(136, 148, 174, 1) 0%,
		rgb(58, 65, 72) 100%
	);
	min-height: 100vh;
	min-width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

main > section {
	min-height: 500px;
	min-width: 400px;
	background: #2a2a2b;
	border-radius: 0.75rem 1rem;
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
}

.display {
	background: #ececec;
	min-height: 5rem;
	max-width: 376px;
	padding: 0.75rem;
	border-radius: 12px 12px 0 0;
	display: flex;
	justify-content: flex-end;
	font-size: 2.5rem;
	overflow: hidden;
}

.calculator-body {
	background: #464646;
	height: 420px;
	padding: 1rem;
	border-radius: 0 0 12px 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.btn {
	background: #2a282b;
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 8px;
	border: 1px solid black;
	flex: 1 1 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.btn:hover {
	filter: opacity(0.5);
	border-color: #fff;
}
.btn:active {
	transform: scale(1.08);
}
.btn.-zero {
	flex-basis: 50%;
}
